@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");
@import url("https://use.typekit.net/uec1bvy.css");
#root {
  margin: 0 auto;
  text-align: center;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100lvh;
  color: rgb(115, 115, 115);
  position: relative;
}
